<%= content_for :title do  %>
Clubs - Playgrounds
<% end %>

<div class="container">
<h1>CLUBS/EDIT</h1>
<h1>Modify your Club</h1>

<%= simple_form_for @club  do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "confirm modification", class: "btn btn-primary" %>
<% end %>
</div>
