<div class="container">
<h1>CLUBS/SHOW</h1>

<p id="notice"><%= notice %></p>

<p><strong>About this Club</strong></p>
  <ul>
  <strong><%= @club.name %></strong>
  <li><%= @club.address %></li>
  </ul>
  <%= cl_image_tag @club.photo, height: 300, width: 400, crop: :fill %>
<% if current_user == @club.user %>
  <p><%= link_to 'edit', edit_club_path(@club) %> | <%= link_to 'destroy', club_path(@club), method: :delete %></p>
<% end %>
</div>

