<div class="container">

  <h1>CLUBS/SHOW</h1>

  <p id="notice"><%= notice %></p>

  <p><strong>About this Club</strong></p>
  <ul>
    <strong><%= @club.name %></strong>
    <li><%= @club.address %></li>

    <% if @club.reviews.count > 0 %>
      <% a = [] %>
      <% @club.reviews.each do |r|  %>
        <%  a << r.rating %>
      <% end %>
    <%= link_to club_reviews_path(@club) do %>
      <li>average rating:</li>
      <% b = a.inject{ |sum, el| sum + el } / a.size %>
        <% b.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <% if current_user == @club.user  %>
    <%= cl_image_tag @club.photo, height: 300, width: 400, crop: :fill %>
    <% end %>

  <div
  id="map"
  style="width: 50%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  ></div>


</div>

 <div>
    <%= link_to "fields", club_fields_path(@club), class: "btn btn-primary" %>
    <%= link_to "Back", clubs_path, class: "btn btn-primary" %>
  </div>



