<div class="container">


  <h1>CLUBS/SHOW</h1>

  <p id="notice"><%= notice %></p>

  <p><strong>About this Club</strong></p>
    <ul>
    <strong><%= @club.name %></strong>
    <li><%= @club.address %></li>
    </ul>
    <%= cl_image_tag @article.photo, height: 300, width: 400, crop: :fill %>
  <% if policy(@club).edit?  %>
    <%= link_to "Update", edit_club_path(@club), class: "btn btn-primary" %>
  <% end %>



</div>

