<% if current_user.club %>
<link rel="stylesheet" href="sidebar.css">
<% end %>

<script type="text/javascript"><!--
function ReplaceContentInContainer(id,content) {
var container = document.getElementById(id);
container.innerHTML = document.getElementById(content).innerHTML;
}

//--></script>

 <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Playgrounds - Club owner</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header clubimage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @club.photo%>'); background-size: cover; height: 125px; font-size: 18px;">
                    <div class="user-info">
                        <span class="user-name">
                            <strong><%= @club.name %></strong>
                        </span>
                        <span class="user-role">Administrator</span>
                    </div>
                </div>
                <!-- sidebar-header  -->

                <!-- sidebar-search  -->
                <div class="sidebar-menu" style="font-size: 16px;">
                    <ul>
                        <li class="header-menu">
                            <span>Navigation</span>
                        </li>
                        <li class="sidebar-dropdown">
                                <%= link_to root_path do  %>
                                <i class="fa fa-tachometer-alt"></i>
                                <span>  Dashboard</span>
                            <% end %>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="javascript:ReplaceContentInContainer('dashrender','fieldrender')">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>  Fields</span>

                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                      <%= link_to new_club_field_path(@club) do  %>
                                       New Field
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="javascript:ReplaceContentInContainer('dashrender','calendarrender')">
                                <i class="fas fa-calendar-alt"></i>
                                <span>  Calendar</span>
                            </a>

                        </li>

                        <li class="header-menu" >
                            <span>Account</span>
                        </li>
                        <li>
                            <%= link_to conversations_path do  %>
                                <i class="fas fa-comments"></i>
                                <span style="font-size:14px;">  Messages</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_club_field_path(@club) do %>
                                <i class="fas fa-plus"></i>
                                <span style="font-size:14px;">  Add a new field</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to clubs_path  do %>
                                <i class="fas fa-list-ul"></i>
                                <span style="font-size:14px;">  Browse clubs</span>
                              <% end %>
                        </li>
                        <li>
                            <%= link_to destroy_user_session_path, method: :delete do  %>
                                <i class="fas fa-user-circle"></i>
                                <span style="font-size:14px;">  Log-out</span>
                            <% end %>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content" id="dashrender">
           <!-- page-wrapper -->
            <!--DASHBOARD ITEM CARD-->
              <div>
                      <div class="container dashcontainer">
                        <div class="row">
                            <div class="col-md-3">
                              <div class="card-item">
                                  <i class="fas fa-dollar-sign ic a" style="font-size: 18px;"></i>
                                  <h1 class="title">€<%= @this_week_revenue  %></h1>
                                  <p style="font-size: 14px">WEEK REVENUE</p>
                              </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card-item">
                              <i class="fas fa-chart-bar ic b" style="font-size: 18px;"></i>
                              <% if @last_week_revenue != 0 %>
                              <h1 class="title"><%= (@last_week_revenue - @this_week_revenue)/(@last_week_revenue *100)  %>%</h1>
                              <% else %>
                            <h1>No info available</h1>
                              <% end %>
                              <p style="font-size: 12px">REVENUE DIFFERENCE</p>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card-item">
                              <i class="fas fa-dollar-sign ic c" style="font-size: 18px;"></i>
                              <h1 class="title">€<%= @total %></h1>
                              <p style="font-size: 12px">PROJECTED REVENUE</p>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card-item">
                              <i class="fas fa-user-plus ic d" style="font-size: 18px;"></i>
                              <h1 class="title"><%= @upcoming_events.count  %></h1>
                              <p style="font-size: 12px">TOTAL BOOKINGS</p>
                          </div>
                        </div>

                        </div>
                      </div>


                      <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

                      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

            <!--*DASHBOAD CARDS ENDS-->
            <div class="container">
            <script>
            window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
              animationEnabled: true,
              theme: "light2",
              title:{
                text: "Weekly users"
              },
              axisY:{
                includeZero: false
              },
              data: [{
                type: "line",
                dataPoints: [
                  { y: <%= @week1.count %> },
                  { y: <%= @week2.count %> },
                  { y: <%= @week3.count %> },
                  { y: <%= @week4.count %> },
                  { y: <%= @week5.count %> },
                  { y: <%= @week6.count %> },
                  ]
              }]
            });
            chart.render();

            }
            </script>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </div>

        </div>
        </main>
        <!-- page-content" -->
    </div>

<!------------------FIELDS RENDERING------------------------>
<div id="fieldrender" style = "display:none">

        <div class="row">
      <% num = 1 %>
      <% @fields.each do |f| %>
        <!----PANEL UNIT---->
        <div class="col-sm-4">
        <div class="panel panel-default">
        <!----STORING EVENTS FOR THIS FIELD----->
        <% if f.events #Check if a field has events
            @field_upcoming_events = []
            @day_events = []
            f.events.each do |e|
              if e.start_date > DateTime.now
                @field_upcoming_events << e
              end
              if e.start_date.day == DateTime.now.day
                @day_events << e
              end
            end
          @field_upcoming_events.sort_by!{ |obj| obj.start_date }
          @next_event = @field_upcoming_events.first

          if @next_event #check if next is not nil
            t = @next_event.start_date
            et = @next_event.end_date
          end

            @daytotal = 0
          @day_events.each do |d|
            @daytotal += ((d.end_date.to_i - d.start_date.to_i) / 3600) * f.price.to_i
          end %>


        <!----END STORING EVENTS FOR THIS FIELD--->
        <div class="panel-heading fieldcardtitle">
          <h2>Field <%= num %></h2> <% num += 1 %>
          <p><%= f.field_type %></p>
          <p><%= @day_events.count %> reservations today</p>
          <p>€ <%= @daytotal  %> revenue today</p>
        </div>
        <div class="panel-body fieldcard">
            <% if @next_event #check if next event is not nil %>
            <ul>
              <p><b>next reservation:</b>  <%= t.hour %>:<%= t.min  %><%= "0" if t.min == 0 %> - <%= t.day %>/<%= t.month %>/<%= t.year%> </p>
              <p><i class="fas fa-male"></i>   <%= @next_event.user.email  %></p>
              <p><i class="far fa-clock"></i>   <%= (et.to_i - t.to_i )/3600 %> hours</p>
              <p><i class="fas fa-dollar-sign"></i>   €<%= ((et.to_i - t.to_i )/3600)*f.price.to_i %></p>

            <% else %>
              <p style= "height: 130px">There are no upcoming reservations on this field yet</p>
            <% end %>

            </div>
          </div>
        </div>


        <!----PANEL END----->
          <% end  %>
      <% end %>
  </div>
</div>
<!---------------END FIELD RENDERING----------->


<!--------------------CALENDAR RENDER------------->
<div id="calendarrender" style="display: none;">
   <div id="calendar" data-target="<%= @events %>" style = "font-size: 16px;" ></div>
</div>
<!-----END CALENDAR RENDER-------------------->


