<!---DASHBOARD FOR OWNER---->
<!------TOP CARD-------->
<div class="container">
<div class="row">
<h1 class="dash-title">Dashboard for club</h1>
<div class="col-xs-12 col-sm-6">
  <div class="card-dash" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @club.photo%>');">
    <div class="card-category">Statistics</div>
    <div class="card-description-dash">
      <p>Total bookings: <%= @upcoming_events.count  %></p>
      <p>Projected revenue: €<%= @total %></p>
      <p>This week's revenue: €<%= @this_week_revenue %></p>
      <% if @last_week_revenue.nil? %>
      <p>Revenue difference: <%= ((@this_week_revenue - @last_week_revenue)/((@this_week_revenue - @last_week_revenue)/2))*100  %>%%</p>
      <% end %>
      <p>Booking difference:  </p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  </div>
</div>
</div>
</div>
<!---------END TOP CARD----------->
<div class="container">
  <div class="row">
    <% num = 1 %>
    <% @fields.each do |f| %>
      <!----PANEL UNIT---->
      <div class="col-sm-4">
      <div class="panel panel-default">
      <!----STORING EVENTS FOR THIS FIELD----->
      <% if f.events #Check if a field has events
          @upcoming_events = []
          f.events.each do |e|
            if e.start_date > DateTime.now
              @upcoming_events << e
            end
          end
        @next_event = @upcoming_events.first
        if @next_event #check if next is not nil
          t = @next_event.start_date
          et = @next_event.end_date
        end %>

        <!----END STORING EVENTS FOR THIS FIELD--->
        <div class="panel-heading">
          <h2>Field <%= num %></h2> <% num += 1 %>
          <p><%= f.field_type %></p>
        </div>
        <div class="panel-body">
            <% if @next_event #check if next event is not nil %>
              <p>next reservation: <%= t.hour %>:<%= t.min  %><%= "0" if t.min == 0 %> - <%= t.day %>/<%= t.month %>/<%= t.year%> </p>
              <p>by: <%= @next_event.user.email  %></p>
              <p>for: <%= (et.to_i - t.to_i )/3600 %> hours</p>
              <p>fee: €<%= ((et.to_i - t.to_i )/3600)*f.price.to_i %></p>
            <% else %>
              <p>There are no upcoming reservations on this field yet</p>
            <% end %>
            <button id="hide-calendar">Show Calendar</button>

        <div id="calendar" data-target="<%= @events %>" style="display:none">
          </div>
        </div>
      </div>
    </div>


  <!----PANEL END----->
<% end  %>
<% end %>



