<div class="centered_div">
<h1>RESERVATIONS/NEW</h1>
</div>
  <%= simple_form_for [@club, @field, @event] do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "New reservation", class: 'btn btn-primary' %>
      <% end %>
</div>
