<%= content_for :title do  %>
Playgrounds
<% end %>
<% if !user_signed_in?  %>

  <%= content_for :title do  %>
    Playground - home
  <% end %>
     <%= render 'shared/home' %>

    <!-- Remeber to put all the content you want on top of the slider below the slider code -->

    <div class="banner second_banner">
      <p>Book your <strong>sport</strong> field and play with the <strong>community</strong></p>
    </div>

    <div class="banner home_page_banner">
      <div class="" style="padding-bottom: 50px; padding-top: 30px">
      <h2>We offer three sport experiences</h2>
      <h5><em>"You can spend more time playing and less time organizing"</em></h5>
    </div>
      <div class="row home_row ">
        <div class="col-xs-12 col-sm-4">
          <div class="card card_home_page">
            <p>Play Tennis</p>
            <img src="tennis.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card card_home_page">
            <p>Play Squash</p>
            <img src="squash-racquet.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card card_home_page">
            <p>Play padel<p>
            <img src="tennis-filled.png">
          </div>
        </div>
      </div>
    </div>


<% elsif user_signed_in? && current_user.is_player && current_user.player.first_name.nil? %>

   <%= render 'shared/player_new' %>

<% elsif user_signed_in? && current_user.player.first_name %>

  <%= content_for :title do  %>
    Playground - home
  <% end %>

     <%= render 'shared/home' %>

  <div class="banner second_banner">
    <p>Book your <strong>sport</strong> field and play with the <strong>community</strong></p>
  </div>

  <div class="banner home_page_banner">
    <div class="" style="padding-bottom: 50px; padding-top: 30px">
      <h2>We offer three sport experiences</h2>
      <h5><em>"You can spend more time playing and less time organizing"</em></h5>
    </div>
    <div class="row home_row">
      <div class="col-xs-12 col-md-4">
        <div class="card_home_page card_home_hover">
          <p>Play tennis</p>
          <img src="tennis.png">
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card_home_page card_home_hover">
          <p>Play squash</p>
          <img src="squash-racquet.png">
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card_home_page card_home_hover">
          <p>Play padel<p>
          <img src="tennis-filled.png">
        </div>
      </div>
    </div>
  </div>





<script>$('.carousel').carousel();</script>




<% elsif current_user.club  %>
<!----WHEN USER IS A CLUBOWNER--->
<%= render 'shared/dashboard' %>


<% else %>
<%= render 'shared/home_page_club' %>


<% end %>
