
<% if !user_signed_in?  %>

  <%= content_for :title do  %>
    Playground - home
  <% end %>
     <%= render 'shared/home' %>

    <!-- Remeber to put all the content you want on top of the slider below the slider code -->

    <div class="banner second_banner">
      <p>Book your <strong>sport</strong> field and play with the <strong>community</strong></p>
    </div>

    <div class="banner home_page_banner">
      <div class="row home_row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <p>Play Tennis</p>
            <img src="https://img.icons8.com/ios/50/000000/tennis.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <p>Play squash</p>
            <img src="https://img.icons8.com/ios/50/000000/squash-racquet.png">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <p>Play padel<p>
            <img src="https://img.icons8.com/ios/50/000000/tennis-filled.png">
          </div>
        </div>
      </div>
    </div>


<% elsif user_signed_in? && current_user.is_player && current_user.player.first_name.nil? %>

   <%= render 'shared/player_new' %>

<% elsif user_signed_in? && current_user.player.first_name %>

  <%= content_for :title do  %>
    Playground - home
  <% end %>

     <%= render 'shared/home' %>

  <div class="banner second_banner">
    <p>Book your <strong>sport</strong> field and play with the <strong>community</strong></p>
  </div>

  <div class="banner home_page_banner">
    <div class="row home_row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <p>Play Tennis</p>
          <img src="https://img.icons8.com/ios/50/000000/tennis.png">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <p>Play squash</p>
          <img src="https://img.icons8.com/ios/50/000000/squash-racquet.png">
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <p>Play padel<p>
          <img src="https://img.icons8.com/ios/50/000000/tennis-filled.png">
        </div>
      </div>
    </div>
  </div>


<script>$('.carousel').carousel();</script>




<% elsif current_user.club  %>
<!----WHEN USER IS A CLUBOWNER--->
<%= render 'shared/dashboard' %>


<% end %>
