<%= content_for :title do  %>
Players - Playgrounds
<% end %>

 <div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

      <h1> Edit your profile : </h1>

        <%= simple_form_for [current_user, @player] do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :phone_number %>
          <%= f.input :birth_date, collusion: (1920..2018) %>
          <%= f.input :description %>
          <%= f.input :gender, collection: ["Female", "Male"] %>
          <%= f.input :tennis %>
          <%= f.input :padel %>
          <%= f.input :squash %>
          <%= f.input :tennis_level, collection: ["Beginner", "Intermediate", "Advanced", "Expert"] %>
          <%= f.input :padel_level, collection: ["Beginner", "Intermediate", "Advanced", "Expert"] %>
          <%= f.input :squash_level, collection: ["Beginner", "Intermediate", "Advanced", "Expert"] %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>

