<%= content_for :title do  %>
Players - Playgrounds
<% end %>

<section id="team" class="pb-5">
  <div class="banner_find_player" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url( <%= image_path "squash.jpg" %>) ;" >

    <div class="container-player">
      <h5 class="section-title text-center h1" style="color: white; margin-bottom: 70px;">Find your partner</h5>
      <div class="search-player">
        <%= form_tag user_players_path, method: :get do %>
          <div class="col-xs-12 col-sm-2">
            <p><%= text_field_tag :first_name,
              params[:first_name],
              class: "form-control",
              placeholder: "First name"
            %></p>
            <p><%= text_field_tag :last_name,
              params[:last_name],
              class: "form-control",
              placeholder: "Last name"
            %></p>

          </div>

          <div class="col-xs-12 col-sm-2">
            <p><%= select_tag :gender,
              options_for_select(["Male", "Female"]),
              class: "form-control",
              prompt: "Gender"
            %></p>
          </div>
          <div class="col-xs-12 col-sm-2">
            <p><%= select_tag :tennis_level,
              options_for_select(["Beginner", "Intermediate", "Advanced", "Expert"]),
              class: "form-control",
              prompt: "Tennis level"
            %></p>
          </div>
          <div class="col-xs-12 col-sm-2">
            <p><%= select_tag :squash_level,
              options_for_select(["Beginner", "Intermediate", "Advanced", "Expert"]),
              class: "form-control",
              prompt: "Squash level"
            %></p>
          </div>
          <div class="col-xs-12 col-sm-2">
            <p><%= select_tag :padel_level,
              options_for_select(["Beginner", "Intermediate", "Advanced", "Expert"]),
              class: "form-control",
              prompt: "Padel level"
            %></p>
          </div>
          <div class="col-xs-12 col-sm-2">
            <p><%= submit_tag 'Search', class: 'btn btn-primary'%></p>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% @players.each do |p| %>
          <div class="col-xs-12 col-sm-4 col-md-4 margin-on-player-card" style="opacity: 0.8; border-radius: 10px;">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');" style="margin-left: auto; margin-right: auto">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card-player-index" style="margin: auto; justify-content: space-between;">
                    <div class="card-body-player-index text-center">
                      <p><%= cl_image_tag p.photo, class: "img-fluid",height: 400, width: 400, crop: :fill, crop: :thumb, gravity: :face, alt: "card image" %></p>
                      <h4 class="card-title">
                        <%= p.first_name %>
                        <%= p.last_name %>
                      </h4>
                      <p class="card-text-player-index text-center">
                        <% unless p.tennis_level == "" %>
                          Tennis: <%= p.tennis_level  %>
                        <% end %>
                        <% unless p.squash_level == "" %>
                          |Squash: <%= p.squash_level %>
                        <% end %>
                        <% unless p.padel_level == "" %>
                          |Padel: <%= p.padel_level %>
                        <% end %>
                      </p>

                      <p class="card-logo-player-index text-center">
                        <% unless p.tennis_level == "" %>
                          <%= image_tag "tennis.png" %>
                        <% end %>
                        <% unless p.squash_level == "" %>
                          <%= image_tag "squash-racquet.png" %>
                        <% end %>
                        <% unless p.padel_level == "" %>
                          <%= image_tag "tennis-filled.png" %>
                        <% end %>
                      </p>

                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>

                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card-player-index">
                    <div class="card-body-player-index text-center">
                      <h4 class="card-title-backside">
                        <%= p.first_name %>
                        <%= p.last_name %>
                      </h4>
                      <p class="card-text-player-index-backside"><%= p.description %></p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>

                      </ul>
                    </div>
                    <div class="card-link-to-player text-center">
                      <%= link_to "See player profile", user_player_path(current_user, p), class: 'btn btn-primary' %>
                    </div>
                    <div class="card-link-to-message">
                      <%= link_to "Send a message", new_conversation_path, class: 'btn btn-primary' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

