<div class="container">
<h1> Find a player </h1>

<%= form_tag user_players_path, method: :get do %>

  <p><%= text_field_tag :first_name,
    params[:first_name],
    class: "form-control",
    placeholder: "Enter a first name"
  %></p>

  <p><%= text_field_tag :last_name,
    params[:last_name],
    class: "form-control",
    placeholder: "Enter a last name"
  %></p>

  <p><%= select_tag :gender,
    options_for_select(["M", "F"]),
    class: "form-control",
    prompt: "Select a gender"
  %></p>

  <p><%= select_tag :tennis_level,
    options_for_select(["Beginner", "Intermediate", "Advanced", "Expert"]),
    class: "form-control",
    prompt: "Select a tennis level"
  %></p>

  <p><%= select_tag :squash_level,
    options_for_select(["Beginner", "Intermediate", "Advanced", "Expert"]),
    class: "form-control",
    prompt: "Select a squash level"
  %></p>

  <p><%= select_tag :padel_level,
    options_for_select(["Beginner", "Intermediate", "Advanced", "Expert"]),
    class: "form-control",
    prompt: "Select a padel level"
  %></p>

  <p><%= submit_tag 'Search', class: 'btn btn-primary'%></p>
  <p><%= link_to 'Home', root_path, class: "btn btn-primary" %></p>
<% end %>


<% @players.each do |p| %>
<p><%= p.first_name %></p>
<p><%= p.last_name %></p>
<p><%= p.gender %></p>
<p><%= p.tennis_level %></p>
<p><%= p.squash_level %></p>
<p><%= p.padel_name %></p>
<% end %>
