<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

      <h1>Your profile</h1>
      <ul>
        <li><%= @player.first_name %></li>
        <li><%= @player.last_name %></li>
        <li><%= @player.phone_number %></li>
        <li><%= @player.birth_date %></li>
        <li><%= @player.description%></li>
        <li><%= @player.tennis %></li>
        <li><%= @player.tennis_level %></li>
        <li><%= @player.squash %></li>
        <li><%= @player.squash_level %></li>
        <li><%= @player.padel %></li>
        <li><%= @player.padel_level %></li>
      </ul>


        <%= link_to "Update", edit_user_player_path(current_user, @player), class: "btn btn-primary" %>


    </div>
  </div>
</div>


