<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

      <h1>Your profile</h1>
      <ul>
        <li><%= @player.first_name %></li>
        <li><%= @player.last_name %></li>
        <li><%= @player.phone_number %></li>
        <li><%= @player.birth_date %></li>
        <li><%= @player.description%></li>
        <% if @player.tennis == true %>
        <li>Plays tennis with current level :<%= @player.tennis_level %></li>
        <%end %>
        <% if @player.squash == true %>
        <li>Plays squash with current level : <%= @player.squash_level %></li>
        <%end %>
        <% if @player.padel == true %>
        <li>Plays padel with current level : <%= @player.padel_level %></li>
        <%end %>
      </ul>

      <% if policy(@player).edit? %>
        <%= link_to "Update", edit_user_player_path(current_user, @player), class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>


