<%= content_for :title do  %>
Reviews - Playgrounds
<% end %>

<div class="container">
<h1>REVIEW/NEW</h1>

<%= simple_form_for [@club, @review] do |f|  %>
<%= f.error_notification %>
<%= f.input :rating %>
<%= f.input :comment %>
<%= f.submit "Create Reveiw", class: "btn btn-success"%>
<% end %>
</div>

