
<h2>Edit your field</h2>

<%= simple_form_for [@club, @field] do |f| %>
  <%= f.input :field_type, collection: ["Tennis", "Squash", "Padel"] %>
  <%= f.input :availability %>
  <%= f.input :price %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>


