<div class="container">


<%= form_tag club_fields_path, method: :get do %>

  <p><%= select_tag :field_type,
      options_for_select(["Tennis", "Squash", "Padel"]),
      class: "form-control",
        placeholder: "Field type"
    %></p>


   <p><%= text_field_tag :availability,
    params[:availability],
    class: "form-control",
    placeholder: "availability"
  %></p>

  <p><%= text_field_tag :price,
    params[:price],
    class: "form-control",
    placeholder: "price"
  %></p>

<% end %>

</div>


<div class="container">
<h1>FIELDS/Index</h1>
<p id="notice"><%= notice %></p>

<%= @fields.each do |r|%>
  <ul>
  <li><%= r.field_type %></li>
  <li><%= r.availability %></li>
  <li><%= r.price %></li>
  </ul>
  <% end %>

</div>



</div>






