<div class="container">
  <div class="row">
    <%= form_tag club_fields_path, method: :get do %>
      <div class="col-xs-12 col-sm-3">
        <p><%= select_tag :field_type,
            options_for_select(["Tennis", "Squash", "Padel"]),
            class: "form-control",
              placeholder: "Field type" %></p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p><%= text_field_tag :availability,
          params[:availability],
          class: "form-control",
          placeholder: "availability"
        %></p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p><%= text_field_tag :price,
          params[:price],
          class: "form-control",
          placeholder: "price"
        %></p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p><%= submit_tag 'Search', class: 'btn btn-primary'%>  <%= link_to 'Home', root_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <h1>FIELDS/Index</h1>
  <h2><em>Should be clubscard</em></h2>

<% @fields.each do |f| %>
<% f.price %>
<% end %>

  <!-- <div class="row">
    <% @fields.each do |r|%>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Field</div>
          <div class="card-description">
            <h2><%= r.field_type %></h2>
            <p><%= r.availability %>|<%= r.price %></p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


 -->



