<%= content_for :title do  %>
Fields - Playgrounds
<% end %>

<h1> Please add a field </h1>

 <%= simple_form_for [@club, @field] do |f| %>
    <%= f.input :field_type, collection: ["Tennis", "Squash", "Padel"] %>
    <%= f.input :start_date %>
  <%= f.input :end_date %>
    <%= f.input :price %>
    <%= f.submit 'Submit', class: "btn btn-primary" %>
<% end %>
