<%= content_for :title do  %>
Fields - Playgrounds
<% end %>


<div class="container">
  <div class="row">
    <h1>FIELDS/SHOW</h1>
    <p id="notice"><%= notice %></p>
    <p><strong>About this field</strong></p>
    <ul>
      <li><%= @field.field_type %></li>
      <li><%= @field.price %></li>
    </ul>

    <% if policy(@field).edit? %>
      <p><%= link_to 'edit', edit_club_field_path(@club, @field), class: "btn btn-primary" %></p>
    <% end %>

    <% if current_user == @club.user %>
      <%= link_to 'destroy', club_field_path(@field), method: :delete %></p>
    <% end %>
  </div>
</div>


