
<div class="container">
<h1>FIELDS/SHOW</h1>



<p id="notice"><%= notice %></p>

<p><strong>About this filed</strong></p>
  <ul>
  <li><%= @field.field_type %></li>
  <li><%= @field.availability %></li>
  <li><%= @field.price %></li>
  </ul>
<% if current_user == @club.user %>
  <p><%= link_to 'edit', edit_club_path(@club) %> | <%= link_to 'destroy', club_path(@club), method: :delete %></p>
<% end %>
</div>


